Makefile.in
Makefile
/ABOUT-NLS
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.status
/config.sub
/config.guess
/po/POTFILES
/po/*.gmo
/po/stamp-it
/schemas/gschemas.compiled
/schemas/org.gnome.shell.extensions.app-menu-window-title.gschema.valid
/config.rpath
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/config.guess.backup
/config.sub.backup
/m4
/po/Makefile.in.in
